*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  width: 390px;
  height: 213px;
  background: no-repeat center center;
  background-image: url(/assets/worldmap.png);

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 0 2;
}

.header-img {
  width: 94px;
  height: 84px;
}

.header-title {
  font-family: "Big Shoulders", serif;
  color: #32cd32;
  font-weight: bolder;
  font-size: 2.625rem;
}

.header-subtitle {
  color: #fff;
  font-weight: medium;
  font-size: 0.75rem;
}

/* Main */

.form {
    width: 390px;
    background-color: #fff;
    padding: 2em 1em;
}

.form-container {
    border: 2px solid #252F42;
    
}
